.b-pagination__close{
	border: none;
}

.p-route {

	a{
		text-decoration: none;
	}
	.checker {
		width: 25px;
		height: 25px;
		border: 2px solid #ADADAD;
		border-radius: 2px;
	}

	.checker span:before {
		background: url('../temp/routes/check.svg') center center no-repeat;

	}

	.checker input {}

	/* .p-route__form */
	&__form {
		margin-top: 50px;
		background: #F0F3F8;
		padding: 30px;
		display: flex;
		flex-direction: column;
		row-gap: 35px;
	}

	/* .p-route__form-line */
	&__form-line {
		display: grid;
		grid-template: 1fr / 0.25fr 1fr;
		column-gap: 90px;
	}

	/* .p-route__form-line-title */
	&__form-line-title {
		font-size: 18px;
		line-height: 22px;
		font-weight: 400;
		color: #666666;
		
	}

	/* .p-route__form-line-list */
	&__form-line-list {
		display: flex;
		column-gap: 35px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 400;
		color: #9B9B9B;

		label {
			display: flex;
			align-items: center;
			column-gap: 10px;
			cursor: pointer;
		}
	}

	/* .p-route__content */
	&__content {
		margin-top: 20px;
	}

	/* .p-route__wrapper */
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 35px;
	}

	/* .p-route__item */
	&__item {
		width: 240px;
		display: flex;
		flex-direction: column;
	}

	&__item-wrapper{
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}

	/* .p-route__item-img */
	&__item-img {
		width: 100%;
		height: 166px;
		overflow: hidden;
		img {
			
			object-fit: cover;
			object-position: center center;
			transition: all 1s ease-out;
			width: 100%;
			height: 100%;
		}
	}

	/* .p-route__item-title */
	&__item-title {
		margin-top: 16px;
		font-weight: 900;
		font-size: 22px;
		line-height: 26px;
		color: #000000;
		&:hover{
			color: #666;
		}
	}

	/* .p-route__item-type */
	&__item-type {
		margin-top: 16px;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		ul {
			list-style: none;
			display: inline-flex;
		}

		li {
			padding-right: 3px;
		}

		a {
			font-size: 16px;
			line-height: 19px;
			font-weight: 400;
			text-decoration-line: underline;
			color: #2B78CF;
			&:hover{
				text-decoration: none;
			}
		}
	}

	/* .p-route__item-duration */
	&__item-duration {
		margin-top: 10px;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		span {
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
			color: #666666;
		}
	}

	/* .p-route__item-season */
	&__item-season {
		margin-top: 10px;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		ul {
			list-style: none;
			display: inline-flex;
		}

		li {
			padding-right: 3px;
		}

		a {
			font-size: 16px;
			line-height: 19px;
			font-weight: 400;
			text-decoration-line: underline;
			color: #2B78CF;
			&:hover{
				text-decoration: none;
			}
		}
	}

	/* .p-route__item-descr */
	&__item-descr {
		margin-top: 10px;
		font-size: 16px;
		line-height: 19px;
		font-weight: 400;
		color: #666666;
	}
}